.task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid;
    border-color: lightgray;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 1rem;
  }   
  
  .tasks-list {
    width: 100%;
    overflow: auto;
    height: 65vh;
  }

  .tasks-list div:not(:first-child){
    border-top: none;
}

.task:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task:last-child{
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}


.delete-button{
    cursor: pointer;
    height: 20px;
    min-width: 20px;
    background-image: url(../../../images/delete.svg);
    background-size: cover;
    border: none;
    background-color: white;
}

  .checkbox-style {
    margin-right: 60px;
}

.checkbox-checked {
    text-decoration: line-through;
}

.element-container {
    display: flex;
    width: 90%;
}

