*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  } 

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 100px 200px 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

